body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
  }
  
  header {
    background-color: #0e5e32;
    padding: 10px 0;
  }
  
  .menu {
    list-style: none;
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
  }
  
  .menu li {
    margin: 0 15px;
  }
  
  .menu a {
    color: white;
    text-decoration: none;
    font-weight: bold;
  }
  
  main {
    padding: 20px;
    text-align: center;
  }
  
  footer {
    background-color:#0e5e32;
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    width: 100%;
    bottom: 0;
  }
  /* Estilo para o link da página atual */
.menu a.ativo {
    text-decoration: underline;
    color: #ffd700;
  }
  